<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright (c) 2024 Qualcomm Innovation Center, Inc.
All rights reserved.
SPDX-License-Identifier: BSD-3-Clause-Clear
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.wifi.resources.overlay.target">
    <overlay android:targetPackage="com.android.wifi.resources" android:targetName="WifiCustomization" android:isStatic="true" />
</manifest>
